.navbar-light {
    background: #1D1C1A !important;
}

#page-wrapper {
    background: #0B0B0A;
    color: white;
}

.site-name {
    display: none;
    background: none;
}

.pull-xs-left,
#nav-drawer,
.navbar-brand {
    display: none !important;
}

.dropdown-menu,
body,
html {
    background: #0B0B0A !important;
}

a {
    color: white !important;
}

.no-overflow {
    display: flex !important;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    color: white !important;
}

.active,
.btn-default {
    color: black !important;
}

.pagination {
    display: none !important;
}

.block_calendar_month {
    display: none !important;
}

.card-block {
    background: #0B0B0A !important;
}

.navbar {
    max-height: 100vh !important;
}

.PMISintro {
    font-size: 20px;
    max-width: 700px;
}